/* #d11141 • #00b159 • #00aedb • #f37735 • #ffc425 */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Questrial&display=swap');

/* Setting a universal standard of styling */
* {
    font-family: 'Lato', sans-serif;
    border: 0;
    padding: 0;
    margin: 0;
}

/* Setting different font classes */
.big-font {
    color: #212529;
    font-family: 'Questrial', sans-serif;
}

.small-font {
    font-family: 'Lato', sans-serif;
    color: #656270;
}

/* Setting default font style */
h1 {
    font-weight: 200;
    margin: 0.5em;
    font-size: 1.2em;
}

/* Setting default body style */
body {
    background: #fafcf8;
    color: #212529;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* Styling scroll to top button */
.scroll-top-btn {
    position: fixed;
    right: 30px;
    bottom: 5px;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #fafcf8;
    box-shadow: 0 0 10px #ccc;
    outline: none;
    border: 5px solid transparent;
    color: #00aedb;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
}

.scroll-top-btn.active {
    opacity: 1;
    width: 50px;
    height: 50px;
    right: 30px;
    bottom: 25px;
    pointer-events: auto;
    z-index: 10;
}

.scroll-top-btn.active:hover {
    border: 5px solid #00aedb;
    transform: translateY(-5px);
}

/*** Start of index.html styling ***/

/* Main body */
.main {
    padding: 1.2em;
    height: 83vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.main h1 {
    font-size: 4em;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.main p {
    font-size: 1.2em;
    margin: 2em auto;
    text-align: center;
    width: 70%;
    color: #656270;
}

.txt-type > .txt {
    border-right: 2px solid #656270;
}

.talk-btn {
    width: fit-content;
    background: none;
    text-align: center;
    border: 2px solid #00aedb;
    margin: 0 auto;
    padding: 13px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #00aedb;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}

.talk-btn:hover {
    color: #fafcf8;
}

.talk-btn::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00aedb;
    transition: 0.5s;
    bottom: 0;
    border-radius: 40% 40% 0 0;
    z-index: -1;
}

.talk-btn:hover::before {
    height: 180%;
}

/* Resume Section */
.resume {
    text-align: center;
}

.period {
    color: #00aedb;
}

.resume h2 {
    font-size: 2.5em;
    font-weight: 900;
    padding-bottom: 0.5em;
    border-bottom: 5px solid #00aedb;
    width: fit-content;
    margin: 0 auto;
}

/* Education */
.education {
    margin: 2em;
    margin-bottom: 8em;
}

.education-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    align-content: space-around;
    flex-wrap: wrap;
}

.education img {
    width: 50%;
    margin-bottom: -10px;
    transition: 0.3s;
}

.education-card:hover h3 {
    color: #00aedb;
}

.education-card:hover img {
    transform: translateY(-15px);
}

.education-card:hover .splash-txt {
    box-shadow: 2px 2px 15px 5px #ccc;
}

.education-card {
    width: 45%;
    margin-top: 4em;
}

.splash-txt {
    box-shadow: 2px 2px 15px 0px #ccc;
    padding: 1.1rem;
    width: 70%;
    margin: 0 auto;
    z-index: 2;
    transition: 0.3s;
    border-radius: 10px;
}

.splash-txt h3 {
    font-size: 1.8em;
    margin: 10px 2px 10px 2px;
    transition: 0.3s;
}

.splash-txt h6 {
    font-size: 1.2em;
    margin: 5px 2px 0 2px;
    opacity: 0.4;
}

.splash-txt p {
    font-size: 1em;
    margin: 10px 2px 5px 2px;
}

/* Projects */

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
}

.projects-card {
    box-shadow: 2px 2px 50px 1px #ccc;
    border-radius: 10px;
    height: fit-content;
    width: 80%;
    margin-top: 4em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-img {
    width: 38%;
}

.projects-content {
    width: 60%;
    text-align: left;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 1em 2.5em;
}

.projects-content h3 {
    font-size: 1.8em;
    margin: 5px 0 5px 0;
    color: #212529;
}

.projects-content h6 {
    font-size: 1.2em;
    margin: 0 0 25px 0;
    color: #212529;
}

.projects-content p {
    font-size: 1em;
}

.projects-skills {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    margin: 1.5em 0;
    width: fit-content;
}

.projects-skills > * {
    margin-right: 10px;
    margin-top: 10px;
}

.skill {
    border: 2px solid #00b159;
    border-radius: 5px;
    padding: 0.3em;
}

.projects-link {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.projects-link .link1 {
    background-color: #00aedb;
    color: #fafcf8;
    width: fit-content;
    padding: 0.5em 0.6em;
    border-radius: 5px;
    margin: 0 0 5px 0;
    transition: 0.3s;
    box-shadow: 2px 2px 15px 0px #ccc;
    margin-right: 20px;
    margin-top: 10px;
}

.projects-link .link2 {
    color: #00aedb;
    width: fit-content;
    padding: 0.5em 0.6em;
    border-radius: 5px;
    margin: 0 0 5px 0;
    transition: 0.3s;
    box-shadow: 2px 2px 15px 0px #ccc;
    margin-right: 20px;
    margin-top: 10px;
}

.projects-link .link1:hover {
    opacity: 0.6;
    box-shadow: 10px 10px 10px 0px #ccc;
}

.projects-link .link2:hover {
    opacity: 0.7;
    box-shadow: 10px 10px 10px 0px #ccc;
}

.projects-link i {
    padding-left: 5px;
    font-size: 1em;
    color: #fafcf8;
}

.projects-link .link2 i {
    padding-left: 5px;
    font-size: 1em;
    color: #00aedb;
}

/* Start of Media */
@media screen and (max-width: 1200px) {
    .education-card {
        width: 45%;
    }

    .projects-card {
        flex-direction: column;
    }

    .projects-img {
        width: 50%;
    }

    .projects-content {
        width: fit-content;
    }
}

@media screen and (max-width: 768px) {
    .main h1 {
        font-size: 2.8em;
    }

    .scroll-top-btn {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 15px;
        z-index: 10;
    }

    .scroll-top-btn.active {
        width: 40px;
        height: 40px;
        font-size: 20px;
        line-height: 15px;
        z-index: 10;
    }
    
    .education-card {
        width: 100%;
    }

    .splash-txt {
        width: 90%;
    }

    .projects-card {
        width: 90%;
    }

    .projects-img {
        display: none;
    }

    .projects-content {
        width: fit-content;
    }

    .projects-content p {
        line-height: 25px;
    }

    .footer{
        width: 90%;
    }
}